.search{  
    width: 200px;
    display: flex;
    align-items: center;
    a{
        width: 100px;
        margin-left: 10px;
    }
}
.buttons{
    button{
        margin-right: 10px;
    }
}